.rating-distribution, monto-review-sort-dropdown,  monto-reviews-count, .monto-review-form__reviewable-image-name-wrapper{
display: none !important;
}
.header-block-1{
display: flex !important; 
}
.add-review-button{
font-family: Roboto, sans-serif !important;
border-radius: 40px !important;
padding: 18px 40px !important;
font-size: 18px !important;
text-transform: uppercase;
text-align: center;
}
.monto-review-list-item__customer-name-rating-wrapper{
flex-direction: row-reverse !important;
margin-right: auto !important;
}
.header-row-1{
    margin-top: 50px;
}
.monto-review-list-item__customer-name{
margin-left: 0px !important;
margin-right: 1rem !important;
font-size: 18px; 
}

monto-review-list{
margin-top: 0 !important;
padding-top: 0 !important;
border: none !important;
}
monto-review-list-item{
border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
padding: 30px 0px !important;
margin-bottom: 0 !important;
}
.monto-review-list-item__message{
    font-family: 'Roboto';
    font-size: 18px;
}
.monto-reviews-widget-bootstrap-wrapper{
display: flex;
flex-direction: column-reverse;
}
.monto-review-form-modal__panel{
padding: 30px !important;
}
.monto-review-form-modal__panel-header{
position: absolute !important;
right: 20px !important;
}
.monto-review-form__input-group{
margin: 35px 0 30px 0 !important;
}
.monto-review-form__label{
margin-bottom: 15px !important;
}
textarea.monto-review-form__text-input{
height: 200px !important;
resize: none !important;
}
.monto-review-form__text-input{
height: Auto !important;
background-color: #F6F6F6 !important;
border: none !important;
border-radius: 30px !important;
outline: none !important;
padding: 20px !important;
}
.monto-review-form__btn-primary{
border-radius: 40px !important;
background-color: #86BC42 !important;
text-transform: uppercase;
outline: none !important;
}
.monto-review-form__btn-secondary{
border-radius: 40px !important;
background-color: transparent !important;
color: #86BC42 !important;
border: 1px solid #86BC42 !important;
text-transform: uppercase;
outline: none !important;
}
#reviewForm div p, .text-xl{
text-align: center !important;
}
form .monto-review-list-item__customer-name-rating-wrapper{
margin: auto;
flex-direction: revert !important;
}
form .monto-review-list-item__message{font-family: 'Roboto'; text-align: center;}
form monto-review-list-item{
     margin-bottom: 0px !important;
     border: none !important;
     padding: 0px !important;
    }
form .monto-review-list-item__customer-name{ margin:0px 0px 0px 10px !important;}
@media only screen and (max-width: 767px){
    .add-review-button{
    padding: 9px 20px !important;
    font-size: 14px !important;}
    textarea.monto-review-form__text-input {
        height: 120px !important;}
}
